@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#__next {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 6rem 1fr 3.5em;
}

main {
	@apply w-full h-full flex justify-center items-center;
}

.link {
	@apply flex justify-center w-36 hover:transition-colors cursor-pointer;

	a {
		@apply p-4;
	}

	&.active,
	&:hover {
		@apply bg-purple-500 text-white;
		mask: url(../images/trapezoid.png);
		mask-size: 100% 100%;
	}
}
